<div>
  <div class="page-header">
    <h1>About <span class="nsr">NSR</span></h1>
  </div>
    <h3><strong>Current Version:&nbsp</strong>{{current_version}}</h3>
    <hr/>
    <h3>Author</h3>
    <hr/>
    <p>
        <img class="img-rounded" width="50px" height="50px" src="https://2.gravatar.com/avatar/a2a4cd6ea03480676f4b0afe76e5d76a?d=https%3A%2F%2Fidenticons.github.com%2F6dd725a05e4780f3b0724afb8b2c4725.png&r=x&s=460" />
        Domingo E. Savoretti <a href="https://github.com/sandy98" target="_blank">&lt;sandy98&gt;</a>
    </p>
    <hr/>
    <h3>Collaborators</h3>
    <hr/>
    <p>
        <img class="img-rounded" width="50px" height="50px" src="https://2.gravatar.com/avatar/1b82aa1cc870ecbd4eba39e48fc837dc?d=https%3A%2F%2Fidenticons.github.com%2F33ed2237833506aed218d3f212e050e6.png&r=x&s=460" />
        Fabián Ezequiel Gallina <a href="https://github.com/fgallina" target="_blank">&lt;fgallina&gt;</a>
    </p>
    <hr/>
    <h3>Contributors</h3>
    <hr/>
    <p>
        <img class="img-rounded" width="50px" height="50px" src="https://2.gravatar.com/avatar/1d60633db63d4ab0765830fcc25e8e9f?d=https%3A%2F%2Fidenticons.github.com%2Fd1d3faa3c57f13222537c2499d960711.png&r=x&s=460" />
        Sam Olsen <a href="https://github.com/samolsen" target="_blank">&lt;samolsen&gt;</a>
    </p>
    <p>
        <img class="img-rounded" width="50px" height="50px" src="https://2.gravatar.com/avatar/37f1557fc2f22e7b340ea490932bc0d5?d=https%3A%2F%2Fidenticons.github.com%2Fcf6bac8945880528f180aac3380f8bf8.png&r=x&s=460" />
        Emil Bay <a href="https://github.com/tixz" target="_blank">&lt;tixz&gt;</a>
    </p>
    <p>
        <img class="img-rounded" width="50px" height="50px" src="https://1.gravatar.com/avatar/1c8c29d08514ce2e21ea84e63621670c?d=https%3A%2F%2Fidenticons.github.com%2F717ca4f2e593281ecb27f7bf0a0dd190.png&r=x&s=460" />
        Jacobo Tabernero <a href="https://github.com/jacoborus" target="_blank">&lt;jacoborus&gt;</a>
    </p>
  </div>
