<div class="jumbotron router">
    <h1 style="font-size: 30pt;">
        <span style="color: red;">N</span>ode
        <span style="color: red;">S</span>imple
        <span style="color: red;">R</span>outer a.k.a.
        <span style="color: red;">NSR</span>
    </h1>
    <p>Yet another minimalistic router for node.js</p>
    <div class="well well-sm" style="font-size: 16px;">
        <p>When all you need is routing...</p>
        <p>The lightweight router for the lightweight web app.</p>
        <p>Even though, should you need CGI or SCGI invoking, proxy passing, file uploading, or even simple templating, you got them out of the box.</p>
        <p>No dependencies, all you need is <a target="_blank" href="http://nodejs.org">NodeJS</a> itself, <span class="red">NSR</span> and off you go!</p>
        <p>And we point to keep it that way, simple and independent, nevertheless more functional in each new incarnation.</p>
    </div>
    <hr/>
    <p style="text-align: center;">
        <a class="btn btn-lg btn-primary" href="/getting_started" role="button">Get started                  »</a>
        <a class="btn btn-lg btn-primary" href="/documentation" role="button">View Node Simple Router docs »</a>
    </p>
</div>
