<div class="page-header">
    <h1><span class="nsr">NSR</span> connecting to SCGI process example</h1>
</div>
<h4>
    Please keep on account that in order for this to work the script "hello_scgi.py" or its uWSGI equivalent,<br/>
    both located at /public/scgi/python/ must be running, otherwise you will receive a "502 - Bad gateway" error
</h4>
<hr/>
<form action="/scgi/hello_scgi_py" method="post">
  <table>
    <tbody><tr>
      <td>Name</td>
      <td style="text-align: right;"><input type="text" size="40" name="name" required="required"></td>
    </tr><tr>
    </tr><tr>
      <td>Age</td>
      <td style="text-align: right;"><input type="number" size="4" name="age"></td>
    </tr><tr>
    </tr><tr>
      <td><input type="submit" value="Send  data to Python SCGI process"></td>
      <td><input type="reset" value="Reset"></td>
    </tr><tr>
  </tr></tbody></table>
</form>

<hr/>

<p></p>