<div class="page-header">
    <h1><span class="nsr">NSR</span> file upload example</h1>
</div>

<div style="padding: 1em;">
      <form enctype="multipart/form-data" action="/handle_upload" method="post">
      <fieldset style="border-radius: 10px;">
      <legend>multipart/form-data example</legend>
        <input type="text" size="40" name="title" placeholder="Title goes here" />
        <br/>
        <input type="file" name="fupload"/>
        <hr/>
        <input type="submit" value="Upload file" />
        <input type="reset" value="Cancel" />
      </fieldset>
      </form>
    </div>  
    <hr/>
