<!--
<iframe name="wiki-frame" id="wiki-frame" src="https://github.com/sandy98/node-simple-router/wiki/{{href}}"  align="middle center"
        frameborder="0" scrolling="auto" width="90%" height="90%" marginwidth="5" marginheight="5" >

</iframe>

<iframe name="wiki-frame" id="wiki-frame" src="http://www.solsavoretti.com.ar" align="middle center"
        frameborder="10" scrolling="auto" width="90%" height="90%" marginwidth="5" marginheight="5" >

</iframe>

-->

<div>
    {{& wiki_content }}
</div>